body{
	background-color:#22F59C;
 
}

a:hover {
	
	color:#22F556;
	text-decoration: underline;
	font-weight:bold;
	font-size:20px;
	
}
#nav {
	width:900px;
	height: 25px;
	background-color: #518BFE;
}
#footer{
	width:900px;
	height:20px;
	background-color: #518BFE;
	padding: 5px;
}